<div class="card container-fluid">
    <div class="card-header row">
        <p class="text fw-bolder heading col-6">
            Comments
            <span class="badge bg-info ">{{commentCount}}</span>
        </p>
        <p class="close fw-bolder col-6 text-end" (click)="close()">
            X
        </p>
    </div>

    <div class="card-body" style="height: 50vh; overflow:auto">
        <div>
            @for (comment of comments; track $index) {
                <p>
                    <b class="fst-italic username" [routerLink]="['/profile', 'username', comment.profile.username]">
                    {{comment.profile.username}} 
                        @if (comment.profile.verified) {
                            <img src="./assets/verified.svg" height="20px">
                        }
                    </b>
                    : {{comment.comment}}
                </p>
            }
        </div>
    </div>

    <div class="card-footer container-fluid">
        <div class="form-group row">
            <input class="col-8" placeholder="{{commentPlaceHolder}}" type="text" id="comment" [(ngModel)]="comment">
            <button class="btn btn-primary offset-1 col-3" (click)="sendComment()">Send</button>
        </div>

    </div>
    @if (httperror) {
        <div class="text-center text text-danger"><b>
                {{ httperror.message }}
            </b>
        </div>
    }
</div>

<div class="">&nbsp;</div>
<div class="">&nbsp;</div>