<div class="container-fluid border-bottom border-dark-subtle ">
    <div class="row p-3 ">
        @if (isProfile && chosenUser) {
            <div class="col-4 align-items-center text-center  m-auto pe-auto">
                @if (chosenUser.ppId) {
                    <img src="http://localhost:9999/huduk/sos/{{chosenUser.ppId}}"
                        class="rounded-circle profilepic border-3 border-black" height="150px" width="150px">
                } @else {
                    <img src=".\assets\profile.svg" width="30px" height="30px"
                        class="rounded-circle profilepic border-3 border-black" height="150px" width="150px" alt="">
                }
            </div>
        }

        <!-- Profile -->
        @if (isProfile && chosenUser) {
            <div class="col-8">
                <div class="container-fluid">
                    <div class="row text text-center ">
                        <p class="col fw-bolder fs-5">{{chosenUser.username}}></p> 
                        @if (chosenUser.verified) {
                            <img src="./assets/verified.svg" height="18px">
                        }
                    </div>
                    <div class="row text-center fw-bolder ">
                        <div class="col-4">
                            <p class="m-0">{{chosenUser.postCount}}</p>
                            <p>Posts</p>
                        </div>
                        <div class="col-4 text-center clickable" [routerLink]="['/search', 'follower', chosenUser.userId]">
                            <p class="m-0">{{chosenUser.followersCount}}</p>
                            <p>Follower</p>
                        </div>
                        <div class="col-4  text-center clickable"
                            [routerLink]="['/search', 'following', chosenUser.userId]">
                            <p class="m-0">{{chosenUser.followingCount}}</p>
                            <p>Following</p>
                        </div>
                    </div>
                    <div class="row">
                        @if (chosenUser.username == user.username) {
                            <button class="btn btn-close-white border-black  fw-bold" (click)="logout()">Log out</button>
                        } @else {
                            @if (following) {
                                <button class="btn btn-close-white border-black  fw-bold" (click)="follow()">Unfollow</button>
                            } @else {
                                <button class="btn btn-primary fw-bold" (click)="follow()">Follow</button>
                            }
                        }
                    </div>
                </div>
            </div>
        }

        <!-- Other -->
        @if (!isProfile) {
            <div class="col-4 align-items-center text-center  m-auto pe-auto">
                <img src=".\assets\hash.svg" class="rounded-circle profilepic border-3 border-black" height="150px"
                    width="150px">
            </div>
            <div class="col-8">
                <div class="container-fluid">
                    <div class="row">
                        <h1 class="col display-3" style="margin: 35px;">{{sharedname}}</h1>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@if (sharedname && feedType) {
    <app-post [searchQuery]="sharedname" [feedType]="feedType"></app-post>
}