<div class="container-fluid" style="height: 92vh;">

    <div class="row">
        <div class="col fw-bolder fs-4 m-3">
            Register
        </div>
    </div>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="(register())">

        
        <!-- Fullname -->
        <div class="form-group m-3">
          <input class="form-control" placeholder="Full name" type="text" id="fullname" formControlName="fullname">
          @if (registerForm.controls['fullname'].dirty && registerForm.controls['fullname'].invalid) {
            <span id="fullnameError" class="text-danger">😆 Really! People call you by this?</span>
          }
        </div>

        
        <!-- email -->
        <div class="form-group m-3">
          <input class="form-control" placeholder="Email" type="email" id="email" formControlName="email">
          @if (registerForm.controls['email'].dirty && registerForm.controls['email'].invalid) {
            <span id="emailError" class="text-danger">🤨 You think you can fake this!</span>
          }
        </div>
        
        <!-- username -->
        <div class="form-group m-3">
            <input class="form-control" placeholder="Username" type="text" id="username" formControlName="username">
            @if (registerForm.controls['username'].dirty && registerForm.controls['username'].invalid) {
                <span id="usernameError" class="text-danger">👎 Doesn't look cool.</span>
            }
        </div>

        <!-- password -->
        <div class="form-group m-3">
            <input class="form-control" placeholder="Password" type="password" id="password" formControlName="password">
            @if (registerForm.controls['password'].dirty && registerForm.controls['password'].invalid) {
                <span id="passwordError" class="text-danger">⚠️ Be serious here.</span>
            }
        </div>

        <button class="btn btn-success m-3" type="submit" [disabled]="registerForm.invalid">Register</button>

        @if (httperror) {
            <div class="text-center text text-danger">
                <b>{{ httperror.message }}</b>
            </div>
        }

    </form>

    <div class="m-3"><a class="linkclass" [routerLink]="['/login']"><b>Login instead</b></a></div>

</div>