<div class="card container-fluid">
  <div class="card-header row">
    <p class="text fw-bolder heading col-6">
      Post
    </p>
    <p class="close fw-bolder col-6 text-end" (click)="close()">
      X
    </p>
  </div>

  <div class="card-body" style="height: 50vh; overflow:auto">
    <div class="file-upload">

      <input type="file" class="form-control " (change)="onFileSelected($event)" readonly>

    </div>
  </div>

  <div class="card-footer container-fluid">
    <div class="form-group row">
      <textarea class="form-control" placeholder="{{postPlaceHolder}}" rows="3"
        [(ngModel)]="postConent"></textarea>
      <button class="btn btn-primary mt-2" (click)="postPost()">Post</button>
    </div>
    @if (httperror) {
      <div class="text-center text text-danger">
        <b> {{ httperror.message }} </b>
      </div>
    }

  </div>
</div>

<div class="">&nbsp;</div>
<div class="">&nbsp;</div>