<div class="container-fluid border-bottom border-dark-subtle ">
    <div class="row p-3 ">

        <!-- search -->
        @if (isSearch) {
            <div class="form-group">
                <input class="form-control" placeholder="Search" type="text" id="search" #searchInput
                    (input)="search(searchInput.value)">
            </div>
        } @else {
            <div>
                <div class="col p-0  fw-bolder fs-4">
                    {{displayText}}
                </div>
            </div>
        }
    </div>
</div>

<div class="results" style="height: 90vh;">
    <table class="table table-hover table-bordered">
        @for (search of searchResults; track $index) {
            <tr class="tablerow">
                <td class="container-fluid pt-2 pb-2 ">
                    @if (search.type == 'profile') {
                        <div class="row clickable" [routerLink]="['/profile', 'username', search.name]">
                            <div class="offset-1 col-2">
                                @if (search.profile.ppId) {
                                    <img src="http://localhost:9999/huduk/sos/{{search.profile.ppId}}" class="rounded-circle profilepic border-2 border-black " height="30px" width="30px">
                                } @else {
                                    <img src=".\assets\profile.svg" width="30px" height="30px" class="rounded-circle profilepic border-2 border-black" alt="">
                                }
                            </div>
                            @if (search.profile.verified) {
                                <div class="col-9 fw-semibold">{{search.name}} <img src="./assets/verified.svg" height="20px"></div>  
                            }  
                        </div>
                    } @else if (search.type == 'tag') {
                        <div class="row clickable" [routerLink]="['/profile', 'tag', search.name]">
                            <div class="offset-1 col-2">
                                <img src="./assets/hash.svg" class="rounded-circle profilepic border-2  border-black" height="30px" width="30px">
                            </div>
                            <div class="col-9">{{search.name}}</div>    
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>